<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.10.6" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NodaTime" version="1.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="2.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Facebook" version="4.4.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="portable45-net45+win8+wpa81" />
</packages>